footer {
  padding: 15px 10px;
  background: linear-gradient(180deg, white, $last-color);
  color: #333;
  .footer-sec {
    @include flexing;
    justify-content: space-evenly;
    gap: 1.2rem;
    text-align: center;
  }
  ul {
    list-style: none;
  }
  h3 {
    margin: 10px auto;
    color: #333;
  }
  a {
    @include links;
    color: $last-color;
    &:hover {
      color: #333;
    }
  }

  p {
    text-align: center;
    margin: 20px 0 0;
    color: white;
    font-weight: 100px;
  }
}
