.container {
  .popular-box {
    @include griding;
  }
  h2 {
    margin: 10px 0;
  }
  .popular-box {
    text-align: center;
  }
  .popular-cards {
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba($last-color, 0.2);
    margin: 15px 0;
    transition: transform 0.3s ease;
    padding: 0px 10px;
    width: 300px;
    &:hover {
      transform: scale(1.1);
    }
  }
  .btn-8 {
    @include buttons;
    border: none;
    margin: 10px 0;
    background-color: $primary-color;
  }
}
